exclude: |
  (?x)(
    ^src/sharp/external
  )
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  # - id: no-commit-to-branch
  #   args: ['--branch', 'main']
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.1.7
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.7.1
  hooks:
  - id: mypy
    additional_dependencies: [ types-PyYAML ]
